<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Original</string>
		<key>class</key>
		<string>IGRBaseShaderFilter</string>
		<key>shader</key>
		<string>IFOriginalFilter</string>
		<key>resources</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>1977</string>
		<key>class</key>
		<string>IGRBaseShaderFilter</string>
		<key>shader</key>
		<string>IF1977Filter</string>
		<key>resources</key>
		<array>
			<string>nmap</string>
			<string>nblowout</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Amaro</string>
		<key>class</key>
		<string>IGRBaseShaderFilter</string>
		<key>shader</key>
		<string>IFAmaroFilter</string>
		<key>resources</key>
		<array>
			<string>blackboard</string>
			<string>overlay_map</string>
			<string>amaro_map</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Brannon</string>
		<key>class</key>
		<string>IGRBaseShaderFilter</string>
		<key>shader</key>
		<string>IFBrannanFilter</string>
		<key>resources</key>
		<array>
			<string>brannan_process</string>
			<string>brannan_blowout</string>
			<string>brannan_contrast</string>
			<string>brannan_luma</string>
			<string>brannan_screen</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Earlybird</string>
		<key>class</key>
		<string>IGRBaseShaderFilter</string>
		<key>shader</key>
		<string>IFEarlybirdFilter</string>
		<key>resources</key>
		<array>
			<string>earlybird_curves</string>
			<string>earlybird_overlay_map</string>
			<string>vignette_map</string>
			<string>earlybird_blowout</string>
			<string>earlybird_map</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Hefe</string>
		<key>class</key>
		<string>IGRBaseShaderFilter</string>
		<key>shader</key>
		<string>IFHefeFilter</string>
		<key>resources</key>
		<array>
			<string>edge_burn</string>
			<string>hefe_map</string>
			<string>hefe_gradient_map</string>
			<string>hefe_soft_light</string>
			<string>hefe_metal</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Hudson</string>
		<key>class</key>
		<string>IGRBaseShaderFilter</string>
		<key>shader</key>
		<string>IFHudsonFilter</string>
		<key>resources</key>
		<array>
			<string>hudson_background</string>
			<string>overlay_map</string>
			<string>hudson_map</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Inkwell</string>
		<key>class</key>
		<string>IGRBaseShaderFilter</string>
		<key>shader</key>
		<string>IFInkwellFilter</string>
		<key>resources</key>
		<array>
			<string>inkwell_map</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Lomo</string>
		<key>class</key>
		<string>IGRBaseShaderFilter</string>
		<key>shader</key>
		<string>IFLomoFilter</string>
		<key>resources</key>
		<array>
			<string>lomo_map</string>
			<string>vignette_map</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>LordKelvin</string>
		<key>class</key>
		<string>IGRBaseShaderFilter</string>
		<key>shader</key>
		<string>IFLordKelvinFilter</string>
		<key>resources</key>
		<array>
			<string>kelvin_map</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Nashville</string>
		<key>class</key>
		<string>IGRBaseShaderFilter</string>
		<key>shader</key>
		<string>IFNashvilleFilter</string>
		<key>resources</key>
		<array>
			<string>nashville_map</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Rise</string>
		<key>class</key>
		<string>IGRBaseShaderFilter</string>
		<key>shader</key>
		<string>IFRiseFilter</string>
		<key>resources</key>
		<array>
			<string>blackboard</string>
			<string>overlay_map</string>
			<string>rise_map</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Sierra</string>
		<key>class</key>
		<string>IGRBaseShaderFilter</string>
		<key>shader</key>
		<string>IFSierraFilter</string>
		<key>resources</key>
		<array>
			<string>sierra_vignette</string>
			<string>overlay_map</string>
			<string>sierra_map</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Sutro</string>
		<key>class</key>
		<string>IGRBaseShaderFilter</string>
		<key>shader</key>
		<string>IFSutroFilter</string>
		<key>resources</key>
		<array>
			<string>vignette_map</string>
			<string>sutro_metal</string>
			<string>soft_light</string>
			<string>sutro_edge_burn</string>
			<string>sutro_curves</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Toaster</string>
		<key>class</key>
		<string>IGRBaseShaderFilter</string>
		<key>shader</key>
		<string>IFToasterFilter</string>
		<key>resources</key>
		<array>
			<string>toaster_metal</string>
			<string>toaster_soft_light</string>
			<string>toaster_curves</string>
			<string>toaster_overlay_map_warm</string>
			<string>toaster_color_shift</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Valencia</string>
		<key>class</key>
		<string>IGRBaseShaderFilter</string>
		<key>shader</key>
		<string>IFValenciaFilter</string>
		<key>resources</key>
		<array>
			<string>valencia_map</string>
			<string>valencia_gradient_map</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Walden</string>
		<key>class</key>
		<string>IGRBaseShaderFilter</string>
		<key>shader</key>
		<string>IFWaldenFilter</string>
		<key>resources</key>
		<array>
			<string>walden_map</string>
			<string>vignette_map</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Xproll</string>
		<key>class</key>
		<string>IGRBaseShaderFilter</string>
		<key>shader</key>
		<string>IFXprollFilter</string>
		<key>resources</key>
		<array>
			<string>xpro_map</string>
			<string>vignette_map</string>
		</array>
	</dict>
</array>
</plist>
